/* master */

body {
	font-family: Josefin Slab;
	font-size:62.5%;
	margin:0;
	background: transparent url(../images/bg.png) repeat 0 0;
}

.container {
	margin: 0 auto;
	width: 750px;
	margin-bottom:100px;
}

ul {
	list-style: none;
	padding:0px;
}

a, a:visited {
	color:#4d4d4d;
	text-decoration:none;
}

a:hover {
	color:#64a773;
}

p, h1, h2, h3, h4 {margin:0;}

/* grid */
.span1 {width:230px;}
.span2 {width:490px;}
.span3 {width:750px;}
.span1, .span2, .span3 {margin-right:30px;float:left;}
.last {margin-right:0px;}
.fR {float:right;}
.fL {float:left;}

/* header */

header {
	margin-bottom: 20px;
	margin-top: 20px;
}


/* nav */

nav {
	border-top: 3px solid #e5e5e5;
	border-bottom: 3px solid #e5e5e5;
	background: transparent url(../images/nav-bg.png) repeat 0 0;
}

nav ul {
	margin-bottom: 5px;
	margin-left: 15px;
}

nav ul li {
	float: left;
	margin-right: 30px;
	text-transform: uppercase;
	font-weight:700;
	font-size: 2.4em;
	text-shadow: 0 1px 0 white;
}

nav a.selected {
	color:#64a773;
}

/* main */

.main-content p {
	font-size: 2em;
	font-family: helvetica;
	font-weight: 300;
	color: #666;
}

.content p {
	font-size: 1.7em;
	margin-bottom: 20px;
	color: #4d4d4d;
	font-family: helvetica;
}

h1.section-header {
	text-transform: uppercase;
	font-size: 2em;
	border-top: 2px solid #e5e5e5;
	width: 100%;
	color: #4d4d4d;
	padding: 10px 0 5px 0;
	margin-bottom: 20px;
}

h1.section-header-top {
	padding-top:25px;
}

/* images */

.compost-image {
	width: 490px;
	margin-top: -30px;
}

#images {
	width: 490px;
	float: left;
}

#images img {
	width: 100%;
	margin-bottom: 20px;
	border-radius: 1em;
}

/* aside */

.main {
	margin-top: 30px;
}

aside.buttons {
	margin-top: -320px;
	z-index: 105;
	position: absolute;
	margin-left: 520px;
}

.button {
	background:#64a773;
	border-radius: 0.7em;
	padding: 20px 0;
	font-size: 2.4em;
	color:white;
	margin-bottom:15px;
	margin-right: 11px;
	box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

.button:hover h2 {
	color: #039103;
}

.button p {
	float: left;
	margin-left: 18px;
	text-transform: lowercase;
	font-family: josefin slab;
	color: white;
	font-size: 1.1em;
	margin-bottom: 0;
}

.button h2 {
	font-size: 2.3em;
	float: right;
	margin-right: 18px;
	margin-bottom: -10px;
}

.volunteer {
	background: #666666 url(../images/foodstamp.png) no-repeat 156px 15px;
	height: 34px;
	padding-top: 30px;
}

.volunteer:hover {
	color:white;
	background: #666666 url(../images/foodstamp-hover.png) no-repeat 156px 15px;
}

.donate {
	background: #666666 url(../images/donate.png) no-repeat 156px 19px;
	height: 34px;
	padding-top: 30px;
}

.donate:hover {
	color:white;
	background: #666666 url(../images/donate-hover.png) no-repeat 160px 19px;
}

.twitter {
	font-size: 1.5em;
	font-family: helvetica;
	margin-top: 0;
}

.twitter li {
	margin-bottom: 20px;
	color: #666;
	background: #f2f2f2;
	border-radius: 1em;
	padding: 15px;
	box-shadow: 0 0 5px rgba(0,0,0,0.10);
	border: 1px solid #E5E5E5;
}


ul#twitter_update_list span a {
	color:#64a773;
	margin-top: 0;
}

ul#twitter_update_list span a:hover {
	color:#039103;
}

a.twit-header {
	color: #64a773;
	margin-right: 82px;
	font-size: 0.9em;
	float: right;
}

a.twit-header:hover {
	color: #039103;
}


/* learn */

.aside-block {
	background:#64a773;
	border-radius: 0.7em;
	padding: 20px 20px 10px 20px;
	font-size: 1.6em;
	color:white;
	margin-bottom:10px;
	width:190px;
	text-transform:uppercase;
	box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.aside-list li {
	margin-bottom: 3px;
	font-size: 0.9em;
	font-family: helvetica;
	font-weight: 300;
	text-transform:lowercase;
}

.unwanted-items {
	background: #666666;
}

img.cycle {
	margin-bottom: 50px;
}

/* signup */

.signup p {
	font-size: 1.6em;
	margin-bottom: 20px;
	color: #4D4D4D;
	font-family: helvetica;
}

.signup a {
	color: #64a773;
}

.signup form {
	margin-bottom: 30px;
}

table {
	border-spacing: 0 15px;
	margin-top: -15px;
	}

td {
	font-size: 1.6em;
	font-weight: 600;
	text-transform: uppercase;
	color: #4D4D4D;
}

tr {margin-bottom:10px;}

p.signup-notice {
	font-size: 16px;
	font-weight: normal;
	margin-bottom: 0px;
	text-transform: none;
}

.donate-link {
	background: #666666;
}

.donate-link form {
	margin-left: 22px;
	margin-top: 28px;
}

/* team */

.team-img {
	height: 400px;
	border-radius: 1em;
	background: #64a773;
	color:white;
	font-size: 1.8em;
	padding-top: 20px;
	text-align: center;
	margin-bottom:20px;
	box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.team-img img {
	margin-bottom:20px;
}

.team-img p {
	text-transform:uppercase;
	margin-bottom:5px;
}

.team-img h2 {
	margin:0 10px;
	text-transform: uppercase;
	font-size: 1.1em;
}

.team-img a {
	color: #1f481e;
	font-size: 0.8em;
	font-family: helvetica;
	font-weight: 200;
	font-weight: bold;
}

.team-img a:hover {
	color:#1a1a1a;
}

.team-volunteer-hover {
	position:absolute;
	margin-top:-266px;
	display:none;
}

.team-volunteer a {
	background: white;
	text-transform:lowercase;
	color:#1f481e;
	padding:10px 20px;
	border-radius:0.5em;
	font-weight: bold;
	box-shadow: 0 3px 0 #4b7a4a;
}

.team-volunteer a:hover {
	color:#1a1a1a;
}


.team-volunteer a:hover .team-volunteer-hover {
	display:block;
	cursor:pointer;
}

.name {
	height:70px;
}

/* footer */

footer {
	background: transparent url(../images/footer-bg.png) repeat 0 0;
	padding-top: 30px;
	color: white;
	box-shadow: inset 0 1px 10px rgba(0,0,0,0.2);
}

footer a {
	color: white;
}

footer a:hover {
	color: #64a773;
}

footer h1 {
	font-size: 2.4em;
	text-transform: uppercase;
	margin-bottom:1em;
}

footer h2 {
	font-size: 2.1em;
	margin-bottom: 0.5em;
	font-family: helvetica;
	font-weight: 300;
	text-transform: lowercase;
}

footer p {
	font-family: helvetica;
	font-size: 1.5em;
	font-weight: 300;
	color: #999999;
}

address {
	font-style: normal;
}

.footer {
	background: transparent url(../images/bucket-tip.png) no-repeat 380px 50px;
	padding-bottom:150px;
	margin-bottom:0;
}

.grey {
	height:80px;
	background:#333333;
	margin-top:-102px;
	padding-top:40px;
}

.grey p {
	color:#666666;
	font-size:1.4em;
	font-family:helvetica;
	font-weight:300;
}

/* clearfix */

.cf:before, .cf:after { content: ""; display: table; }
.cf:after { clear: both; }
.cf { zoom: 1; }